p {
  font-family: Helvetica;
  font-size: 40px;
  color:#808080;
}
h1 {
  font-family: monospace;
  font-size: 90px;
  background-color: red;
  color: white;
}
h6{
  background-color: red;
  color: white;
  font-size: 50px;
}
.highlight{
  background-color: orange;
}
.myPicture{
  width: 500px;
}